<div class="app-sidenav">
  <mat-drawer-container>
    <mat-drawer  mode="side" style="width:20%" opened>
        <div class="example-container"><h1 class="textColor">Numbers</h1></div>
        <form class="vertical-line" [formGroup]="awamoInterviewForm" (ngSubmit)="onSubmit(awamoInterviewForm)">
          <div class="example-container">              
              <mat-form-field appearance="outline">
                <mat-label class="textColor">Number one</mat-label>
                <input class="textColor2" matInput type="text" placeholder="Enter number one" formControlName="numberOne">
              </mat-form-field>
            
              <mat-form-field appearance="outline">
                <mat-label class="textColor">Number two</mat-label>
                <input class="textColor2" matInput type="text" placeholder="Enter number two" formControlName="numberTwo">
              </mat-form-field>
            
              <mat-form-field appearance="outline">
                <mat-label class="textColor">Operation</mat-label>
                <mat-select  panelClass="panelBackground" placeholder="Operation" formControlName="operation">
                  <mat-option  class="panel"  *ngFor="let i of operations" [value]="i.sign">
                      {{i?.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>              
              <!-- [disabled]="awamoInterviewForm.invalid"   -->
              <button [disabled]="awamoInterviewForm.invalid" data-micron="bounce" data-micron-timing="ease-in" class="margin-top-10 button orangeButton" type="submit" mat-raised-button>Post</button>
          </div>
        </form>
    </mat-drawer>
    <mat-drawer-content>
      <h1 class="title">Results</h1>
      <main>          
        <table class="stripped table example-card">
            <thead>
                <tr>
                    <th class="curveLeftTop">Number 1</th>
                    <th>Number 2</th>
                    <th>Response</th>
                    <th>Expected</th>
                    <th>Passed</th>
                    <th class="curveRightTop">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of results; let j=index" class="tabcontent fontSize-xs" fxLayoutGap="10px" >
                    <td class="centered-cell" *ngIf="i?.passed==='Yes'" class="pass">
                        <span>{{ i?.numberOne }}</span>
                    </td>
                    <td class="centered-cell" *ngIf="i?.passed==='Yes'" class="pass">
                        <span> {{ i?.numberTwo }}</span>
                    </td>
                    <td class="centered-cell" *ngIf="i?.passed==='Yes'" class="pass">
                        <span> {{ i?.response }}</span>
                    </td>
                    <td class="centered-cell" *ngIf="i?.passed==='Yes'" class="pass">
                        <span> {{ i?.expected }}</span>
                    </td>
                    <td class="centered-cell" *ngIf="i?.passed==='Yes'" class="pass">
                        <span> {{ i?.passed }}</span>
                    </td>
                    <td class="centered-cell" *ngIf="i?.passed==='Yes'" class="pass">
                        <span (click)="removeItem(j)"> <i class="fa fa-times red"></i></span>
                    </td>

                    <td class="centered-cell" *ngIf="i?.passed==='No'" class="fail">
                        <span>{{ i?.numberOne }}</span>
                    </td>
                    <td class="centered-cell" *ngIf="i?.passed==='No'" class="fail">
                        <span> {{ i?.numberTwo }}</span>
                    </td>
                    <td class="centered-cell" *ngIf="i?.passed==='No'" class="fail">
                        <span> {{ i?.response }}</span>
                    </td>
                    <td class="centered-cell" *ngIf="i?.passed==='No'" class="fail">
                        <span> {{ i?.expected }}</span>
                    </td>
                    <td class="centered-cell" *ngIf="i?.passed==='No'" class="fail">
                        <span> {{ i?.passed }}</span>
                    </td>
                    <td class="centered-cell" *ngIf="i?.passed==='No'" class="fail">
                        <span (click)="removeItem(j)"> <i class="fa fa-times red"></i></span>
                    </td>
                </tr>
            </tbody>
        </table>
      </main>
    </mat-drawer-content>
  </mat-drawer-container>
</div>





