:host { 
  width: 100%; 
  height: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: stretch; 
}

div { 
  flex: 2 1 0; 
}

mat-drawer-container, mat-drawer-content { 
  background:#FEF9E4; 
  display: block; 
  height: 100%; 
}

main { 
  height: 100%; 
  overflow-y: auto; 
}

mat-drawer{ 
  background: #28353E;
}

.example-card {
  max-width: 95%;
  margin-left: 2%;
  margin-right: 2%;
}

.curveLeftTop {
  border-top-left-radius: 7px;
}

.curveRightTop {
  border-top-right-radius: 7px;
}
.leftMargin {
  margin-left: 2%;
  max-width: 100%;
}

.example-container {    
  margin-top: 13%;
  margin-left: 7%;
  margin-right: 7%;
}

.orangeButton {
  background: #A88818;
  border: 1px solid #FDBF00;
}

.panel{
  background: #28353E;
  color: #FDBF00;
}

.title {
  margin-top: 3.3%;
  margin-left: 2%;
}

.textColor{
  color:white;
}

.textColor2 {
  color: #FDBF00; 
}

.example-container > * {
  width: 100%;    
}

input::-webkit-input-placeholder {
  color: #5A5A5A !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #5A5A5A !important;  
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #5A5A5A !important;  
}

input:-ms-input-placeholder {  
  color: #5A5A5A !important;  
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color:#FDBF00 !important;
// opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color:#FDBF00 !important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
  opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: red!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: rgba(0,0,0,.6)!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: red!important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red!important;
}

.red {
  color: red;
}

.pass {
  background: #FFE28A;
  border-bottom: 1px solid #000;
}

.fail {
  background: #FFAEA0;
  border-bottom: 1px solid #000;
}

.centered-cell {
  text-align: center;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper { 
  top: -1.5em; 
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

