/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, 
  "Helvetica Neue", sans-serif; 
}

//Tables
table {
  margin-bottom: 1.11111rem;
  table-layout: auto;
  width: 100%;
  max-width: 100%;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 15px;
  page-break-inside: avoid;
}

table.stripped th {
  background: #28353E;
  color: #FDBF00;
}

td,th {
  padding: 6px;
  text-align: center;
}



